!!! 5
%html
  %head
    %title Pos
    = csrf_meta_tags

    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'

  %body.mdc-typography
    %p.notice
      = notice
    %p.alert
      = alert
    = yield